<div id="home">
	<header>
    <div class="title">
      <a href="https://github.com/jjrajani">Front-End Developer</a>
      <a href="http://tiy-humdrum-jenna-rajani.surge.sh/#/">Jenna Rajani</a>
    </div>
    <h2 class="faqs">About Me</h2>
  </header>
	<div class="content">
	<div class="header">
		<div class="links">
			<h2><a href="/">About Me</a></h2>
			<h2><a href="/answers">FAQ</a></h2>
		</div>
	</div>
	<div class="bio">
		<div class="music">
			<h3>Piano</h3>
			<p>If I'm not coding you'll most likely find me banging away on my ugly upright. A gift from my father upon my most recent home coming, my piano is my most treasured instrument. 
			</p>
		</div>
		<div class="travel">
			<h3>Travel</h3>
			<p>Curious by nature I enjoy most seeing new places, peoples, and ways of living. Visiting 6 countries over 3 continents and 27 of our United States, the more I travel the more I see there is no one right way to be, only the way that we are.</p>
		</div>
		<div class="imaginate">
			<h3>Imaginate to Solutionate</h3>
			<p>I grew up in a house hold that did not include a television. As a result I spent most of my childhood solving my boredom with whatever my mind could come up with.  I'll count myself lucky as today I possess the skills I need to imagine solutions.</p>
		</div>
	</div>	
</div>
 