<div id="home">
	<header>
    <div class="title">
      <a href="https://github.com/jjrajani">Front-End Developer</a>
      <a href="http://tiy-humdrum-jenna-rajani.surge.sh/#/">Jenna Rajani</a>
    </div>
    <a href="/answers" class="faqs">FAQs</a>
  </header>
	<div class="content">
	<div class="header">
		<h2>About Me</h2>
	</div>
		<div class="music">
			<h3>Piano</h3>
			<p>If I'm not coding you'll most likely find me banging away on my ugly upright.
			</p>
		</div>
		<div class="travel">
			<h3>Travel</h3>
			<p>Curious by nature I enjoy most seeing new places, peoples, and ways of living. Visiting 6 countries over 3 continents and 27 of our United States, the more I travel the more I see there is no one right way to be only the way that we are.</p>
		</div>
		<div class="imaginate">
			<h3>imaginate the reason</h3>
		</div>
		
	</div>
</div>
 