// Place all the styles related to the FAQs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#answers {
  min-height: 100vh;
  .content {
    .header {
      display: flex;
      justify-content: flex-end;
      padding: 0 5%;
      background-color: rgb(54,70,82);
      h2 {
        color: rgba(225,225,225,0.875);
      }
      a {
        border: solid purple 2px;
        padding: 5px 10px;
      }
    }
    .questions {
      display: flex;
      width: 100%;
      flex-direction: column;
      .faqs {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        max-width: 860px;
        margin: 40px auto 0;
        border: solid 1px rgba(100, 100, 100, 0.4);
        border-radius: 4px;
        box-shadow: 1px 2px 5px 1px rgba(130, 130, 130, 0.2),
                    -1px 0px 5px 1px rgba(130, 130, 130, 0.2);
        .faq-q {
          font-weight: bold;
          width: 100%;
          font-size: 1.2em;
          margin: 0;
          padding: 10px 5% 7px;
          border-bottom: solid 2px rgb(227,23,10);
          background-color: rgba(54,70,82, 0.8);
          color: white;
        }
        .faq-a {
          margin: 0;
          padding: 10px 5% 10px 8%;
          width: 100%;
          background-color: rgb(245,245,245);
        }
        &:last-child {
          margin-bottom: 40px;
        }
      }
    }
  }
  @media (max-width: 768px) {
    min-height: inherit;
  }
}