// Place all the styles related to the FAQs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#answers {
  min-height: 100vh;
  .content {
    .header {
      display: flex;
      justify-content: space-between;
      padding: 0 5%;
      background-color: rgb(54,70,82);
      a {
        padding: 5px 10px;
        color: rgba(225,225,225,0.875);
        text-decoration: none;
      }
    }
    .questions {
      display: flex;
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      .faqs {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        max-width: 860px;
        margin: 40px auto 0;
        border: solid 1px rgba(100, 100, 100, 0.4);
        border-radius: 4px;
        box-shadow: 0px 2px 2px 1px rgba(130, 130, 130, 0.2);
        .faq-q {
          font-weight: bold;
          width: 100%;
          font-size: 1.2em;
          margin: 0;
          padding: 10px 5% 7px;
        }
        &:nth-child(-n+4) {
            width: 40%;
          }
        .faq-a {
          margin: 0;
          padding: 10px 5% 10px 8%;
          width: 100%;
        }
        &:last-child {
          margin-bottom: 40px;
        }
      }
    }
  }
  @media (max-width: 768px) {
    min-height: inherit;
    .content {
      .questions {
        .faqs {
          &:nth-child(-n+4) {
            width: 90%;
          }
        }
      }
    }
  }
}